@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn btn-outline-secondary col" type="button" onclick="window.location='/Student/Prikaz'">Prikaži listu</button>
</div>
