@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn btn-outline-secondary btn-lg col" type="button" onclick="window.location='/Student/Prikaz'">Prikaži listu</button>
    <br/><br/>
    <button class="btn btn-outline-secondary btn-lg col" type="button" onclick="window.location='/Autentifikacija/Prijava'">Prijavi se</button>
</div>
