@using _2_Vjezba.EntityModels
@using _2_Vjezba.Helper
@model StudentDodajUrediVM

@{
    ViewData["Title"] = "Modifikacija liste studenata";
}

<h1 class="display-3">Modifikcija liste studenata</h1>

<form asp-action="Snimi" asp-controller="Student">
    <input readonly hidden class="form-control" asp-for="ID" />

    <div class="row">
        <div class="col">
            <label>Broj indeksa</label>
            <input class="form-control" asp-for="BrojIndeksa" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <label>Ime</label>
            <input class="form-control" asp-for="Ime" />
        </div>
        <div class="col">
            <label>Prezime</label>
            <input class="form-control" asp-for="Prezime" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <label>Općina rođenja</label>
            <select class="custom-select" asp-for="OpcinaRodjenjaID" asp-items="Model.Opcine">
            </select>
        </div>
        <div class="col">
            <label>Općina prebivališta</label>
            <select class="custom-select" asp-for="OpcinaPrebivalistaID" asp-items="Model.Opcine">
            </select>
        </div>
    </div>

    <br />

    <div>
        <input class="btn btn-dark" type="submit" value="Sačuvaj" />
    </div>
</form>

<br />

<div>
    <button class="btn btn-outline-secondary" onclick="window.location='/Student/Prikaz'">Odustani</button>
</div>

