@using _2_Vjezba.EntityModels

@{
    ViewData["Title"] = "ObrisiPoruka";
}

<div class="alert alert-success text-center">Student @TempData["StudentIme"] @TempData["StudentPrezime"] (@TempData["StudentBrojIndeksa"]) je uspješno obrisan!</div>

<button class="btn btn-outline-secondary btn-lg btn-block" type="button" onclick="window.location='/Student/Prikaz'">Pogledaj listu studenata</button>